body {
	margin: 10px;
	padding: 8px;
}

html {
	box-sizing: border-box;
}

/*	additional css style for certain context	*/
.enc {
	color: #E2EBF5;
	text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
	font-weight: 300;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.textred {
	color: #ffcdd2 !important;
	text-shadow: -1px 0 3px #fc5161, 0 1px 3px #fc5161, 1px 0 3px #fc5161, 0 -1px 3px #fc5161 !important;
}

/*	the CSS style for the table format that will be using and such	*/
#combatantTable {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

#combatantTableBody {
	color: #eee;
	text-shadow: -1px 0 3px #4596ba, 0 1px 3px #4596ba, 1px 0 3px #4596ba, 0 -1px 3px #4596ba;
	font-weight: 300;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
	/*	this is your very own style for the "info" context	*/
	#combatantTableBody .mc * {
		color: #ffffff;
		text-shadow: 1px 1px 0px #000000, -1px 0 2px #bbb, 0 1px 2px #bbb, 1px 0 2px #bbb, 0 -1px 2px #bbb;
	}

#encounter {
	padding: 0 0 2px 0;
}

#encounter,
#combatantTableHeader * {
	color: #DED7BE;
	text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
	font-weight: normal;
	white-space: nowrap;
}
	th:first-child, td:first-child {
		padding-left: 3px !important;
	}

	th:last-child, td:last-child {
		padding-right: 3px !important;
	}

/*	the "name" and "info" style in the table	*/
#combatantTableHeader span.tableHeader {
	font-size: 7px !important;
	text-decoration: underline;
	text-transform: uppercase;
}

#combatantTableBody td {
	padding: 0px;
}

/*	Tanks CSS	*/
#combatantTableBody .Gla, #combatantTableBody .Pld,
#combatantTableBody .Mrd, #combatantTableBody .War,
#combatantTableBody .Drk {
	text-shadow: -1px 0 2px #2970F3, 0 1px 2px #2970F3, 1px 0 2px #2970F3, 0 -1px 2px #2970F3;
}

/*	Healers CSS */
#combatantTableBody .Cnj, #combatantTableBody .Whm,
#combatantTableBody .Sch,
#combatantTableBody .Ast {
	text-shadow: -1px 0 2px #6BF056, 0 1px 2px #6BF056, 1px 0 2px #6BF056, 0 -1px 2px #6BF056;
}

/*	DPS CSS */
#combatantTableBody .Pgl, #combatantTableBody .Mnk,
#combatantTableBody .Lnc, #combatantTableBody .Drg,
#combatantTableBody .Rog, #combatantTableBody .Nin,
#combatantTableBody .Sam,
#combatantTableBody .Arc, #combatantTableBody .Brd,
#combatantTableBody .Mch,
#combatantTableBody .Thm, #combatantTableBody .Blm,
#combatantTableBody .Acn, #combatantTableBody .Smn,
#combatantTableBody .Rdm {
	text-shadow: -1px 0 2px #C80308, 0 1px 2px #C80308, 1px 0 2px #C80308, 0 -1px 2px #C80308;
}