body {
	margin: 0.2em;
}

* {
	color: #DED7BE;
	text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
	font-weight: 300;
}

/* the "timer" text style	*/
#title {
	font-size: 7px !important;
	text-decoration: underline;
	text-transform: uppercase;
}

/*	the background style of the progress bar, but it has no background at the moment.	*/
.progress-outer {
	box-sizing: border-box;
	position: relative;
	/* remove this if you want background
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	*/
	height: 2em;
	margin-top: 1px;
}

.progress-outer:first-child {
	margin-top: 5px;
}

/*	the progrss bar of the action while duration is counting down	*/
.progress-bar {
	opacity: 0.75;
	background-color: purple;
	position: absolute;
	height: 2px;
	box-sizing: border-box;
	bottom: 0;
}

/*	the text of your action within the progress bar	*/
.progress-text {
	width: 100%;
	height: 100%;
}

.label {
	text-align: left;
	vertical-align: middle;
	padding: 7px;
	white-space: nowrap;
	font-weight: 300;
}

.name {
	color: #fff;
}

.timer {
	color: #E2EBF5;
	text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
	white-space: nowrap;
}